@import url(/style/fonts/arial.css);

html, body {
    margin: 0;
    padding: 0;
    background: floralwhite;
    color: darkblue;
    font-family: Arial, sans-serif;
    font-size: 18px;
}

body {
    margin: 80px;
}

.heading:after {
    content: "";
    display: block;
    clear: both;
}

h1.title {
    font-size: 80px;
    font-weight: bold;
    margin: 0 auto;
    display: block;
    text-align: center;
}

.container {
    width: 500px;
    margin: 0 auto;
    text-align: center;
}

.game-container {
    margin: 50px auto;
    position: relative;
    cursor: default;
    background: darkgrey;
    border-radius: 5px;
    width: 500px;
    height: 500px;
}

.grid-container {
    position: absolute;
    z-index: 1;
    padding: 20px;
}

.grid-row {
    margin-bottom: 20px;
}
.grid-row:last-child {
    margin-bottom: 0;
}
.grid-row:after {
    content: "";
    display: block;
    clear: both;
}

.grid-cell {
    width: 100px;
    height: 100px;
    margin-right: 20px;
    float: left;
    border-radius: 5px;
}
.grid-cell:last-child {
    margin-right: 0;
}

.tile-container {
    position: absolute;
    z-index: 2;
    padding: 20px 0 0 20px;
}

.tile {
    margin-right: 20px;
    margin-bottom: 20px;
    float: left;
    transition: 100ms ease-in-out;
    transition-property: transform;
}
.tile:last-child {
    margin: 0;
}
.tile, .tile-inner {
    border-radius: 3px;
    background-color: whitesmoke;
    text-align: center;
    font-weight: bold;
    z-index: 10;
    font-size: 10px;
}
.tile.tile-0 .tile-inner {
    background: papayawhip;
    z-index: 0;
}


.above-game:after {
    content: "";
    display: block;
    clear: both;
}

.new-game-button {
    background: orange;
    border-radius: 3px;
    padding: 0 20px;
    text-decoration: none;
    color: ghostwhite;
    height: 40px;
    line-height: 42px;
    display: block;
    text-align: center;
    float: right;
}