html, body {
    margin: 0 auto;
    padding: 0;
    background: floralwhite;
    text-align: center;
    height: 100%;
}

header {
    margin: 0 auto;
    display: block;
    clear: both;
    color: darkblue;
    text-align: center;
    float: top;
}

header h1.title {
    font-size: 80px;
    margin: 0 auto;
    display: block;
}

header h4.description {
    font-size: 40px;
    margin: 0 auto;
    display: block;
    text-align: center;
}

main {
    margin: 0 auto;
    display: block;
}

.new-game-form {
    margin: 0 auto 20px;
    text-align: center;
    display: block;
    align-content: center;
    child-align: initial;
}

.new-game-button {
    background: orange;
    border-radius: 3px;
    padding: 0 20px;
    color: ghostwhite;
    height: 40px;
    line-height: 40px;
    text-align: center;
    display: inline;
}

.game-container {
    margin: 0 auto;
    position: relative;
    background: transparent;
    border-radius: 5px;
    width: 500px;
    height: 550px;
    border-width: 0;
}

.grid-container {
    width: 500px;
    height: 500px;
    background: darkgrey;
    position: absolute;
    z-index: 1;
}

.grid-row {
    margin-bottom: 20px;
}
.grid-row:last-child {
    margin-bottom: 0;
}
.grid-row:after {
    content: "";
    display: block;
    clear: both;
}

.grid-cell {
    width: 100px;
    height: 100px;
    margin-right: 20px;
    float: left;
    border-radius: 5px;
}
.grid-cell:last-child {
    margin-right: 0;
}

.tile-container {
    position: absolute;
    z-index: 2;
    padding: 20px 0 0 20px;
}

.tile {
    margin-right: 20px;
    margin-bottom: 20px;
    float: left;
    transition: 100ms ease-in-out;
    transition-property: transform;
}
.tile:last-child {
    margin: 0;
}
.tile, .tile-inner {
    border-radius: 3px;
    background-color: whitesmoke;
    text-align: center;
    font-weight: bold;
    z-index: 10;
    font-size: 10px;
}
.tile-0 .tile-inner {
    background: papayawhip;
    z-index: 0;
}

.direction {
    z-index: 100;
    position: absolute;
    margin: 520px auto 0;
    width: 500px;
    height: 50px;
}
.direction .direction-button {
    position: relative;
    z-index: 100;
    width: 75px;
    height: 25px;
    text-align: center;
}

footer {
    position: page;
    bottom: 0;
    width: 100%;
}