@import url(fonts/fonts.css);

html, body {
    margin: 0 auto;
    padding: 0;
    text-align: center;
    height: 100%;
    font-family: "BRLNSR", serif;
}

a {
    font-weight: bold;
    text-decoration: underline;
    cursor: pointer;
}

header {
    margin: 0 auto;
    display: block;
    clear: both;
    color: darkblue;
    text-align: center;
    float: top;
}

header h1.title {
    margin: 0 auto;
    font-size: 100px;
    color: rgb(240, 100, 65);
    -webkit-text-stroke: 2px rgb(90, 50, 0);
    font-family: "BRLNSR", serif;
}

main {
    margin: 0 auto;
    display: block;
}

.new-game-form {
    margin: 0 auto 20px;
    text-align: center;
    display: block;
    align-content: center;
    child-align: initial;
}

.new-game-button {
    background-color: rgb(240, 100, 65);
    height: 60px;
    width: 180px;
    border-radius: 60px;
    border-color: rgb(90, 50, 0);
    border-width: 6px;
    font-size: 30px;
    font-weight: bold;
    color: rgb(255, 255, 255);
    text-align: center;
    display: inline;
}

.yellow-label {
    color: rgb(255, 200, 100);
    font-weight: bold;
    font-size: 20px;
    margin: 20px;
}

.game-container {
    margin: 0 auto;
    position: relative;
    background: transparent;
    border-radius: 5px;
    width: 500px;
    border-width: 0;
}

.grid-container {
    width: 500px;
    height: 500px;
    background: darkgrey;
    position: absolute;
    z-index: 1;
}

.grid-row {
    margin-bottom: 20px;
}
.grid-row:last-child {
    margin-bottom: 0;
}
.grid-row:after {
    content: "";
    display: block;
    clear: both;
}

.grid-cell {
    width: 100px;
    height: 100px;
    margin-right: 20px;
    float: left;
    border-radius: 5px;
}
.grid-cell:last-child {
    margin-right: 0;
}

.tile-container {
    position: absolute;
    z-index: 2;
    padding: 20px 0 0 20px;
}

.tile {
    margin-right: 20px;
    margin-bottom: 20px;
    float: left;
    transition: 100ms ease-in-out;
    transition-property: transform;
}
.tile:last-child {
    margin: 0;
}
.tile, .tile-inner {
    border-radius: 3px;
    text-align: center;
    font-weight: bold;
    z-index: 10;
    font-size: 10px;
}
.tile-0 .tile-inner {
    background: papayawhip;
    z-index: 0;
}

.auto-button {
    position: relative;
    z-index: 100;
    width: 75px;
    height: 25px;
    text-align: center;
}

.direction {
    z-index: 100;
    position: absolute;
    margin: 520px auto 0;
    width: 500px;
    height: 50px;
}
.direction .direction-button {
    position: relative;
    z-index: 100;
    width: 75px;
    height: 25px;
    text-align: center;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.slider {
    -webkit-appearance: none;
    appearance: none;
    width: 100%; /* Full-width */
    height: 25px; /* Specified height */
    background: #d3d3d3; /* Grey background */
    outline: none; /* Remove outline */
    opacity: 0.5; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
}
.slider:hover {
    opacity: 1;
}
.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background: rgb(64, 180, 80);
    cursor: pointer;
}